# Ignore everything
/*

# Allow the gitignore itself
!.gitignore

# Specifically allow the scripts folder and its contents
!/scripts/
!/scripts/**

!/configs/emre/
!/lib/dataset/
!inspect_npy.ipynb
!test.ipynb
!requirements.txt
!boxes.py
!confidence_results.txt
!README.md
!clb.ipynb